@import "~normalize.css/normalize.css";
@import "fonts/jost.css";

$black: #191919;
$navy: #2D4263;
$red: #C84B31;
$beige: #ECDBBA;

* {
  font-family: "Jost", sans-serif;
  color: $black;
}

body {
  background-color: $beige;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $navy;

  &:hover {
    text-decoration: underline;
  }
}

.header-inner {
  width: 960px;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  nav {
    .link:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}

.link {
  font-weight: bold;
  font-size: 1.5rem;
  color: $black;
}

.main {
  width: 960px;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-link {
  display: inline-flex;
  font-size: 1rem;
  color: $black;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  svg {
    font-size: 1rem;
    margin-right: 3px;
  }
}

.footer {
  border-top: 1px solid $black;
  padding-top: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

.article-item {
  a {
    font-size: 1.125rem;
    display: block;
    margin-bottom: 0.4rem;
  }

  time {
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
  }
}

.post-title {
  margin-bottom: 0;
  color: $navy;
}

.post-info {
  margin-top: 0;
  font-size: 0.75rem;
}
